<!--
  Author: Zachary Pearson
  Created: 1/7/2016
-->

<template name="view_listing">
  <div class=titlebox>
    <div class="title">
      {{title}}
    </div>
    <div class="publishedDate">{{published}}</div>
    <div class="info">
      <span class="company">{{company}}</span> - <span class="category">{{category}}</span>
    </div>
  </div>
  <div class="description">
    <div class=heading>Description:</div>
    {{description}}
  </div>
  <div class="perks">
    <div class=heading>Perks:</div>
    {{perks}}
  </div>
  <div class="application">
    <button type="button">Apply Now!</button>
  </div>
</template>
