<!--
  Author: Zachary Pearson
  Created: 1/7/2016
-->

<template name="view_listing">
  <div class = "view">
    {{#each job}}
    {{#if isOwner}}
    <div class="buttons">
      {{#if isExpired}}
      <button type="button" class="renew-btn btn-top">Renew</button>
      {{/if}}
      <button type="button" class="edit-btn btn-top">Edit</button>
      <button type="button" class="delete-btn btn-top">Delete</button>
    </div>
    <div class="confirm">
      <div class="confirm-text">Are you sure?</div>
      <button type="button" class="yes-btn btn-top">Yes</button>
      <button type="button" class="no-btn btn-top">No</button>
    </div>
    {{/if}}
    <div class=titlebox>
      <div class="title">
        {{title}}
      </div>
      <div class="publishedDate">{{createdAt}}</div>
      <div class="info">
        <span class="company">{{company}}</span> - <span class="category">{{category}}</span>
      </div>
    </div>
    <div class="description">
      <div class=heading>Description:</div>
      {{description}}
    </div>
    <div class="perks">
      <div class=heading>Perks:</div>
      {{perks}}
    </div>
    <div class="url">
      <div class=heading>To apply:</div>
      {{#if isEmail}}
      Please send an email with your resume attached to: <a href={{url}}>{{url}}</a>
      {{else}}
      <button type="button" onclick="window.location.replace('{{url}}')">Click Here</button>
      {{/if}}
    </div>
    {{/each}}
  </div>
</template>
