/*
** Author: Rishab
** Created: 1/6/2015
*/

/* Header */
.hdr {
  height: 50px;
  width: 100%;
  background-color: #3333ff;
  position: fixed;
  top: 0px;
  overflow: hidden;
}

.hdr_ttl {
  height: 50px;
  margin-left: 15px;
  float: left;
}

.hdr_home {
  height: 50px;
  margin-left: 10%;
  float: left;
  color: #FFFFFF;
}

.hdr_login {
  height: 50px;
  margin-left: 5%;
  float: left;
}

.hdr_txt {
  height: 50px;
  margin-left: 3%;
  line-height: 44px;
  float: left;
}

.hdr_txt input {
  height: 26px;
  font-family: Lato;
  font-size: 18px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.0);
}

.hdr_search, .hdr_create{
  height: 50px;
  margin-left: 3%;
  float: left;
  color: #FFFFFF;
}

div.hdr {
  font-family: 'Lato';
  font-size: 24px;
  color: #FFFFFF;
  line-height: 45px;
}

/* Footer */
.footer {
  height: 30px;
  width: 100%;
  position: relative;
  bottom: 0px;
}

.footer_txt {
  width: 200px;
  font-size: 16px;
  margin: 0px auto;
}
