/*
Author: David Wibowo
Created: [01/07/2016]
Title:  homepage
Associated Files: homepage.html, homepage.js and homepage.css
*/
.home {
  background-color: #ffffff;
  margin: 0px 30px;
  max-width: 1140px;
  overflow: hidden;
}

.dot{
  margin-top: 2px;
  margin-right: 3px;
  border-radius: 100%;
  height:10px;
  width: 10px;
  background-color: #ffffff;
  float:left;
  display: none;
}

.home-tags {
  width: 100%;
  height: 28px;
  overflow: hidden;
  padding-top: 5px;
  line-height: 25px;
  margin-top: 10px;
}
.home-tag {
  min-width: 10px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
  float: left;
}

.home-listing {
  width: 100%;
  overflow: hidden;
  padding-top: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
  box-shadow: 0 1px 2px rgba(0,0,0,0.075);
  margin-top: 10px
}

.home-listing a {
  height: 65px;
  font-size: 18px;
  color: #555;
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: -1px;
  text-decoration: none;
}
.home-listing a:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.home-listing a:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.home-listing a:hover {
  background-color: #f5f5f5;
}

.home-listing-lft {
  margin: 5px 0px 0px 10px;
  float: left;
}

.home-listing-lft-txt {
  font-size: 22px;
}

.home-listing-lft-txt div {
  color: black;
  display: inline-block;
}

.home-listing-renew {
  display: inline-block;
  padding: 2px 10px;
  float: right;
  margin-top: 20px;
  margin-right: 15px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin-top: 5px;
  border-radius: 10px;
}

.fr {
  float: right!important;
  background-color: #999999;
  margin-top: 25px;
  margin-right: 10px;
}

.red_fade {
  background-color: #ff66cc !important;
}

.orange_fade {
  background-color: #ff9933 !important;
}

.green_fade {
  background-color: #66ff66 !important;
}

.blue_fade {
  background-color: #66ccff !important;
}

.purple_fade {
  background-color: #9933ff !important;
}

.user_fade {
  background-color: #444444 !important;
}
