/*
Author: David Wibowo
Created: [01/07/2016]
Title:  homepage
Associated Files: homepage.html, homepage.js and homepage.css
*/
.home {
  background-color: #ffffff;
  margin: auto;
  max-width: 1188px;
  overflow: hidden;
}

.home-image{
  max-width: 100%;
  max-height: 100%;
  width:auto;
  height:auto;
}

img{
  max-width: 100%;
  width:auto;
  height:auto;
}

.Search-case{
  display: none;
}

.Search-tag{
  background-color: #808080 !important;
  color:#ffffff !important;
}

.SearchtagText{
  max-width: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;;

}
.case{
  height:30px;
  width: 30px;
  float:left;
  margin-top:-4px;
  z-index: 1;
  position:relative;
  border-radius: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
}

.fa-suitcase{
  margin-left:7px;
}

.home-tags {
  min-width: 980px;
  height: 28px;
  overflow: hidden;
  padding-top: 5px;
  line-height: 25px;
  margin:auto;
  margin-top: 10px;

}
.home-tag {
  position:relative;
  left: -10px;
  min-width: 10px;
  max-width: 156px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  margin-right: 5px;
  cursor: pointer;
  float: left;
  border-style:solid;
  border-width: 2px;
  border-radius:7px;
}

.listing-panel{
  margin: auto;
  width: 770px;
}

.home-listing {
  width: 100%;
  overflow: hidden;
  padding-top: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
  box-shadow: 0 1px 2px rgba(0,0,0,0.075);
  margin-top: 10px
}

.listingText{
  float:right;
  width:285px;
  text-align: left;
  margin-left:0px;
  margin-top:6px;
}
.home-listing a {
  height: 65px;
  font-size: 18px;
  color: #555;
  display: block;
  background-color: #fff;
  /*border: 1px solid #ddd;*/
  margin-top: 20px;
  text-decoration: none;
  width: 300px;
  float:left;
}
.home-listing a:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.home-listing a:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.home-listing a:hover {
  background-color: #f5f5f5;
}

.home-listing-lft {
  height:60px;
  margin: 5px 0px 0px 0px;
  float: left;
  border-left: 12px solid;
  opacity: .3;
}

.home-listing-lft-txt {
  /*font-size: 22px;*/
  height:60px;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  line-height: 12px;
  margin-top: 5px;
}

.home-listing-lft-txt div {
  color: black;
  display: inline-block;
}

.home-listing-renew {
  display: inline-block;
  padding: 2px 10px;
  float: right;
  margin-top: 20px;
  margin-right: 15px;
}

.home-listing-delete {
  display: inline-block;
  padding: 2px 10px;
  float: right;
  margin-top: 20px;
  margin-right: 15px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin-top: 5px;
  border-radius: 10px;
}

.fr {
  float: right!important;
  background-color: #999999;
  margin-top: 25px;
  margin-right: 10px;
}

.red_fade {
  background-color: #FF0000 !important;
  color: #ffffff !important;
}

.orange_fade {
  background-color: #FF6600 !important;
  color: #ffffff !important;
}

.green_fade {
  background-color: #009900 !important;
  color: #ffffff !important;
}

.blue_fade {
  background-color: #0000FF !important;
  color: #ffffff !important;
}

.purple_fade {
  background-color: #6600CC !important;
  color: #ffffff !important;
}

.user_fade {
  background-color: #000000 !important;
  color: #ffffff !important;
}
