/*
Author: David Wibowo
Created: [01/07/2016]
Title:  homepage
Associated Files: homepage.html, homepage.js and homepage.css
*/
.home {
  background-color: #ffffff;
  margin-left: 30px;
  overflow: hidden;
}

.home-tags {
  width: 100%;
  height: 28px;
  overflow: hidden;
  padding-top: 5px;
  line-height: 25px;
  margin-top: 10px;
}
.home-tag {
  min-width: 10px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  border-radius: 10px;
  margin-right: 5px;
  float: left;
}
.home-tags div:hover {
  color:#ffffff;
  border: 1px solid #999;
}

.home-listing {
  width: 100%;
  overflow: hidden;
  padding-top: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
  box-shadow: 0 1px 2px rgba(0,0,0,0.075);
  margin-top: 10px
}

.home-listing a {
  height: 60px;
  font-size: 18px;
  color: #555;
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  text-decoration: none;
}
.home-listing a:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.home-listing a:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.home-listing a:hover {
  background-color: #f5f5f5;
}

.home-listing-lft {
  margin: 5px 0px 0px 10px;
  float: left;
}

.home-listing-lft-txt {
  font-size: 22px;
}

.home-listing-lft-txt div {
  color: black;
  display: inline-block;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.pull-right {
  float: right!important;
  background-color: #999999;
}
.pull-right b {
    color: #D10D27;
}
.pull-left {
  float: left!important;
  background-color: #31b0d5;
}
