/*
** Author: Zachary Pearson
** Created: 1/7/2016
*/

.view {
  margin-left: 30px;
}

.buttons{
  margin: 10px 0px;
}

.btn-top{
  margin: 0px 5px;
}

.confirm{
  display: none;
}

.confirm-text{
  float: left;
}

.titlebox {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.title {
  margin-top:10px;
  font-size: 30px;
}

.publishedDate {
  margin-top: 10px;
  margin-bottom:10px;
  font-size: 12px;
}

.info {
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 16px;
  white-space: pre-line;
}

.perks {
  margin-top:10px;
  margin-bottom:10px;
  font-size: 16px;
  white-space: pre-line;
}

.aplication {
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.heading {
  margin-bottom: 10px;
  font-size:18px;
  font-weight: 600;
}
.emailForm {
  position: absolute;
  top:30px;
  left: 30px;
  right: auto;
  width: auto;
  height: auto;
  background-color: #ccccb3;
  display: none;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding:10px;
}
.close {
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
}
.effirst {
  margin-top:10px;
  margin-bottom:10px;
}

.efrest {
  margin-bottom:10px;
}
