<template name="main">
  {{> header}}
  {{> yield}}
  {{> footer}}
</template>


<!--Temporary templates until we get the actual html files-->
<template name="header">
  <table width="1000">
<tr>
<td> <button type="button"> Jobs in ICT </button> </td>
<td> <button type="button"> Home </button></td>
<td> <button type="button"> Login </button> </td>
<td> <input type="text" name="search"> </td>
<td> <button type="button"> Search </button></td>
</table>
</template>

<template name="page">
  <div>page</div>
</template>

<template name="footer">
  <div>footer</div>
</template>
<!--END Temporary templates-->
