<template name="header">
  <div class = "hdr">
    <a href = '/'><div class = "hdr_ttl">Jobs in ICT</div></a>
    <div class = "hdr_txt" id="searchbox"><input class="inputhp" type = "search" id = "search" onsearch = "search()"></div>
    <div id = "rightbox">
      <a href = '/authCheck'><div class = "hdr_create">Create</div></a>
      <!--div class = "hdr_login">{{> loginButtons align="right"}}XXXXXXXXXXXXXXXXXxxxxx</div-->
      <div class = "hdr_login">{{> loginButtons align="right"}}</div>
    </div>
    <div class="hdr_btn" id="menu"></div>
  </div>
</template>

<template name = "footer">
  <div class = "footer">
    <div class = "footer_txt">Created by Ennovar 2016</div>
  </div>
</template>
