<template name="header">
  <div class = "hdr">
    <div class = "hdr_ttl">Jobs in ICT</div>
    <a href = '/'><div class = "hdr_home">Home</div></a>
    <div class = "hdr_txt"><input type = "search"></div>
    <div class = "hdr_right">
    <a href = '/create'><div class = "hdr_create">Create</div></a>
    <div class = "hdr_login">{{> loginButtons align="right"}}</div>
  </div>
  </div>
</template>

<template name = "footer">
  <div class = "footer">
    <div class = "footer_txt">Created by Ennovar 2016</div>
  </div>
</template>
